  <h1 class="text-2xl">This is TaskWave</h1>
  <p>TaskWave is a trello like application to find keep track of tasks and visualize projects.
  The source code is available on github.</p>

  <div class="flex gap-5 flex-wrap justify-center items-start">
    <%= render 'feature', name: "Drag anything, anywhere", image_file: "Feature-1.jpg" %>
    <%= render 'feature', name: "Edit by double click", image_file: "Feature-2.jpg" %>
    <%= render 'feature', name: "Unlimited boards!", image_file: "Feature-3.jpg" %>
  </div>

  <%= link_to 'Create account', new_user_session_path, class: "bg-blue-400 p-4 my-4 rounded text-white font-bold inline-block" %>
  <!--  Github made by farouq -->
  <!--  Email me -->