  <section class="p-5">
  <h1 class="text-2xl">This is TaskWave</h1>
  <p>TaskWave is a trello like application to find keep track of tasks and visualize projects.
  The source code is available on github.</p>
  <br>

  <div class="flex gap-5 flex-wrap justify-center items-start">
    <%= render 'feature', name: "Drag anything, anywhere", image_file: "Feature-1.jpg" %>
    <%= render 'feature', name: "Edit by double click", image_file: "Feature-2.jpg" %>
    <%= render 'feature', name: "Unlimited boards!", image_file: "Feature-3.jpg" %>
  </div>

  <%= link_to 'Create account', new_user_session_path, class: "bg-blue-400 p-4 my-4 rounded text-white font-bold inline-block" %>
  <!--  Github made by farouq -->
  <!--  Email me -->
<!--  <div class="flex flex-col gap-2">-->
<!--    <input class="text-xl font-jua focus:border-2 focus:outline-none p-2 rounded-md bg-black border-2" placeholder="Subject" type="text">-->
<!--    <textarea rows="3" class="text-xl font-jua focus:border-2 border-2 focus:outline-none p-2 rounded-md bg-black" placeholder="Content"></textarea>-->
<!--    <a href="mailto:Farouqjalabi@gmail.com?subject=;body=" class="underline">Submit</a>-->
<!--  </div>-->

    <br>
      <a href="mailto:Farouqjalabi@gmail.com" class="underline">Send mail</a>
  </section>