<!-- We are still in board#show. url has to be specified, auto one is bad -->
<div data-controller="editable">
  <button data-action="click->editable#dblclick" data-editable-target="name">New Task +</button>
  <%= form_with model: [list, list.tasks.build], url: board_list_tasks_path(@board, list), html:{hidden:true, "data-action":"submit->editable#submit"}  do |form| %>
    <section class="bg-gray-300 p-2 rounded h-min">
      <%= form.hidden_field :list_id, value: list.id %>
      <%= form.text_field :name, class: "p-0", "data-editable-target":"input", "data-action":"focusout->editable#focusout " %>

      <%= form.submit class: "hidden" %>
    </section>
  <% end %>
</div>