<!-- * Board view inside index -->
<a class="flex flex-none w-80 h-44 p-5 rounded-lg overflow-hidden items-end bg-gray-300 font-extrabold text-4xl text-white relative"
   style="background: url('<%= board.background_url %>'); background-size: cover; background-position:center;"
   href="<%= board_path(board) %>">
  <h1 class="z-10"><%= board.name %> </h1>
  <div class="absolute w-full h-28 bg-gradient-to-t from-black from-[-10%] to-90% to-transparent bottom-0 left-0"></div>
</a>