<!-- * Shows all your boards -->
<section class="flex flex-col px-5 mt-4">
  <h1 class="text-2xl font-bold">My boards</h1>

  <div class="flex gap-5 flex-wrap">
    <%= render @user_boards %>
    <%= render "boards/new" %>
  </div>

</section>