@tailwind base;
@tailwind components;
@tailwind utilities;


.list-left,.list-right, .task-over, .task-under {
    position: relative;
}

.task-under::after {
    pointer-events: none;
    content: "";

    left: 50%;
    transform: translate(-50%,2px);
    width: 90%;
    height: 5px;

    position: absolute;
    border-radius: 50px;
    background: grey;
}
.task-over {
    /*border-top: 32px solid transparent; !* Adjusted to match the task height *!*/
    padding-top: 32px;
}
/*.task-over::before {*/
/*    margin-top: -25px;*/
/*    content: "";*/
/*    height: 25px;*/
/*    background: red;*/
/*    display: block;*/
/*    position: absolute;*/
/*    pointer-events: none;*/
/*}*/
.list-left::before {
    pointer-events: none;
    content: "";

    height: 100%;
    width: 5px;
    left: 0;

    border-radius: 50px;
    position: absolute;
    background: grey;
}

.list-right::after {
    pointer-events: none;
    content: "";

    height: 100%;
    width: 5px;
    right: 0;

    border-radius: 50px;
    position: absolute;
    background: grey;
}
@layer components {

}
