@tailwind base;
@tailwind components;
@tailwind utilities;


.task-over, .task-under {
    position: relative;
}

.task-under::after {
    content: "";

    left: 50%;
    transform: translate(-50%,2px);
    width: 90%;
    height: 5px;

    position: absolute;
    border-radius: 50px;
    background: grey;
}
.task-over::before {
    content: "";

    top:-7px;
    left: 50%;
    transform: translate(-50%,0);
    width: 90%;
    height: 5px;

    border-radius: 50px;
    position: absolute;
    background: grey;
}

@layer components {

}
